@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto+Condensed&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Raleway, san-serif;
    font-weight: 300px;
    color: #5D5C61;
    font-size: 20px;
    
}

h1, h2 {
    font-family: "Roboto Condensed", sans-serif;
}

/* Style header */
#kids-header{
    height: 100px;
    background: radial-gradient(circle at 10% 20%, rgb(248, 213, 214) 0%, rgb(243, 242, 229) 90%);
    position: relative;
}

#kids-first-logo {
    width: 210px;
    height: 60px;
    float: left;
    padding: 40px 10px 0 25px;
}

/* Style navigation */
#main-menu {
    position: absolute;
    top: 40px;
    left: 30%;
}

#main-menu li {
    float: left;
    list-style-type: none;
    margin: 0 5px 0 100px;
    font-size: 20px;
    color: #7E685A;
    padding: 17px;
}

#main-menu li:hover {
    color: #fff;
    background-color: #C2B9B0;
    border-top: 2px solid #E7717D;
    border-bottom: none;
}

#main-menu a {
    text-decoration: none;
    color: inherit;
}

.current {
    color: #fff;
    background-color: #AFD275;
    border-bottom: 2px solid #AFD275;
}

/* Main image */
#hero-image {
    background: url("../images/kids-healthy-cooking.jpg") no-repeat center center;
    width: 100%;
    height: 600px;
    position: relative;
    clear: both;
}

.heading {
    font-size: 75px;
    font-weight: 900;
    color: #fff;
    padding: 0 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    clear: both;
    position: absolute;
    background: rgba(255, 181, 181, 0.85);
    top: 50px;
    left: 55px;
    width: 70%;
}

#head-text {
    position: absolute;
    background: rgba(255, 181, 181, .85);
    bottom: 70px;
    left: 55px;
    height: 200px;
    width: 50%;
}

#head-text h2 {
    font-size: 40px;
    font-family: Raleway, sans-serif;
    color: #fff;
    padding: 25px;
}

/* Style benefit of cooking with kids */
#benefit-container {
    margin: 40px 10%;
}

#benefit-heading {
    margin: 30px 30px 50px;
}

#benefit-heading h2 {
    text-align: center;
    font-size: 40px;
    padding: 30px;
}

.kids-first {
    font-weight: bolder;
    letter-spacing: 2px;
}

.benefit-section {
    margin: 10px 30px;
    height: 300px;
}

.benefit-text {
    width: 40%;
    padding: 20px;
}

.benefit-left {
    float: left;
    margin-left: 10%;
    border-left: 3px solid #ffb5b5;
}

.benefit-right {
    float: right;
    margin-right: 10%;
    border-right: 3px solid #ffb5b5;
}

br {
    height: 26px;
}

.benefit-image {
    float: right;
    margin-right: 15%;
    margin-top: 15px;
}

#top-image {
    height: 240px;
    width: 210px;

}

#middle-image {
    float: left;
    height: 240px;
    width: 260px;
    margin-left: 15%;
    margin-top: 15px;
}

#under-image {
    height: 200px;
    width: 210px;
    margin-bottom: 20px;
}

/* Online cooking button */
#online-cooking {
    clear: both;
    height: 100px;
    width: 100%;
}
#online-cooking button {
    font-size: 25px;
    font-weight: 900;
    font-family: Raleway, sans-serif;
    background-color: #C2B9B0;
    border: 1px solid #7E685A;
    border-radius: 30px;
    color: #7E685A;
    height: 60px;
    width: 500px;
    display: block;
    margin: 10px auto;
    transition: all 200ms ease-in-out;
}

#online-cooking button a {
    text-decoration: none;
    color: inherit;
}

#online-cooking button:hover {
    background: #9ecc54;;
    border: 1px solid #9ecc54;;
    color: #fff;
    box-shadow: 9px 9px 10px #acaaaa;
}

/* Hot topics */
.hot-topics {
    width: 90%;
    background-color: lemonchiffon;
    margin: 20px auto;
    padding: 20px;
}

.hot-topics h2 {
    font-size: 30px;
}

.hot-topics ul {
    width: 100%;
    padding: 20px 0;
}

.hot-topics ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 auto;
    width: 33%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #7E685A;
}

.hot-topics li a {
    width: 33%;
    margin: 0 auto;
    text-decoration: none;
    font-weight: 700;
    color: inherit;
}

.hot-topics ul li:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background: radial-gradient(circle at 10% 20%, rgb(248, 213, 214) 0%, rgb(218, 216, 192) 90%);
    display: flex;
    width: 100%;
    align-items: flex-end;
}

.social-media p {
    color: #7E685A;
    font-size: 15px;
    padding: 0 10px;
    width: 30%;
}

.social-media ul {
    width: 40%;
    display: flex;
}

.social-media li {
    margin: 0 auto;    
    padding: 6px;
    list-style-type: none;
}

.social-media li a {
    font-size: 40px;
    color: #7E685A;
}

.social-media li a:hover {
    color: #9ecc54;
}

/* Cooking classes */
#kids-cooking {
    position: relative;
}

.cooking-head {
    font-size: 60px;
    font-weight: 900px;
    color: #7E685A;
    padding: 20px;
    text-transform: uppercase;
    margin-left: 35px;
}

#cooking-together {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center 80%;
}

#cooking-time ul {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

#cooking-time li {
    display: inline-block;
    height: 120px;
    width: 120px;
    border: 1px solid #5D5C61;
    border-radius: 50%;
    text-align: center;
    padding: 40px;
    margin: 10px 70px;
}

.tuesday-cooking {
    background-color: #f8d5d6;
}

.thursday-cooking {
    background-color: #dad8c0;
}

.saturday-cooking {
    background-color: #C2B9B0;
}

#cooking-time ~ div {
    width: 90%;
    margin: 20px auto;
    padding: 20px 0;
    clear: both;
}

#cooking-time ~div a {
    font-weight: 900;
    text-decoration: none;
    color: inherit;
}

#kids-cooking div h3 {
    font-family: "Roboto Condensed", sans-serif;
}

/* Kids first corner*/
.kids-fit {
    width: 100%;
    height: 100vh;
}

.cooking-head > span {
    text-transform: initial;
    font-style: italic;
}
.cooking-head ~ p {
    margin-left: 50px;
    padding: 0 15px;
}

#kids-corner {
    background: #F3F0E4;
    margin: 20px 40px;
    height: 300px;
}

#kids-corner h2 {
    text-align: center;
    margin-left: 0;
}

.button-container {
    display: flex;
    flex-direction: row;
    padding: 0 0 20px;
    width: 70%;
    margin: 0 auto;
}

.button-container a {
    margin: 20px auto;
    text-decoration: none;
}

.topic-button {
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 1px solid #7E685A;
    border-radius: 4px;
    color: #7E685A;
    font-size: 15px;
    display: block;
}
.topic-button:hover {
    background-color: #E7717D;
    color: #fff;
    border: 1px solid #E7717D;
    box-shadow: 9px 9px 10px #acaaaa;
    cursor: pointer;
}

.topic-button p {
    font-size: 30px;
}

/* Recipes */
.active {
    background-color: #ffb5b5;
    border: 1px solid #ffb5b5;
    box-shadow: 9px 9px 10px #acaaaa;
}

.not-active {
    background-color: transparent;
    border: 1px solid #acaaaa;
    color: #acaaaa;
}

#kids-recipes {
    margin: 50px 20px;
    text-align: justify;
}

.recipe-head {
    clear: both;
    margin: 20px;
    padding-top: 20px;
}

.recipe-head h2 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 50px;
    text-transform: uppercase;
}

.recipe-corner {
    width: 60%;
    float: left;
    margin-bottom: 50px;
}

.ingredients {
    height: 20%;
    background-color: #f7dcb3;
    margin: 20px 0;
    padding: 20px;
}

.ingredients h3, .procedure h3, .ingredients > p {
    text-align: center;
}

.ingredients ul {
    columns: 2;
    margin: 30px 40px 20px;
    padding: 5px 20px;
}

.ingredients li {
    list-style-type: none;
}

.procedure {
    margin: 30px 0;
}

.procedure ol {
    padding: 10px 40px;
}

.info-corner {
    float: right;
    width: 40%;
}

.info-image{
    width: 70%;
    height: 20%;
    margin: 0 auto;
    display: block;
}

.info-corner > details {
    margin: 5px 0 5px 50px;
    padding: 5px;
}

.info-corner details h4 {
    font-style: italic;
}

.info-corner details p {
    font-size: 15px;
}

.info-corner details a {
    color: inherit;
    font-size: 15px;
}

/* Tips */
.tips-image {
    float: right;
    padding: 20px;
    margin: 0 10px 0 50px;
    width: 40%;
}

.handwash-image {
    width: 90%;
}

.tips-area {
    margin: 40px 40px 60px;
}
    

.tips-area h2 {
    padding: 20px 10px;
    font-size: 50px;
    text-transform: uppercase;
}

.tips-image ~ div {
    padding: 20px;
}

.tips-area div h3 {
    display: block;
    clear: both;
}

.tips-area iframe {
    clear: both;
    display: block;
    margin: 20px auto;
}

#kids-tips p i {
    font-size: 70px;
    display: block;
    color: #E7717D;
    text-align: center;
}

.diet-image {
    width: 100%;
}

.tips-area div ul {
    margin-left: 50px;
}

.daily-percentage li{
    list-style-type: "✅";
}

.daily-food li {
    list-style-type: "🍴";
}

.daily-food li h5 {
    font-size: 20px;
    font-weight: 300;
    text-decoration: underline;
}

.disorder-area {
    width: 90%;
    margin: 20px auto;
}

.disorder-area h4 {
    text-decoration: underline;
}

.disorder-area ul li {
    list-style-type: circle;
}

.disorder-area p span {
    font-weight: 900;
}

/* Sign up form */
.cooking-form {
    background: url("../images/cooking-table.jpeg") no-repeat center center;
    height: 700px;
    width: 100%;
    position: relative;
}

#cooking-signup {
    background-color: rgba(126, 104, 90, .7);
    width: 40%;
    margin: 30px;
    padding: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    
}

#cooking-signup h2 {
    margin-bottom: 20px;
}

#cooking-signup p {
    margin-bottom: 10px;
}

.form-input {
    width: 100%;
    height: 20px;
    background: transparent;
    border: 1px solid #acaaaa;
    border-radius: 3px;
    margin: 5px 0 20px;
    display: inline-block;
    color: #fff;
}

.form-input:hover {
    border: 1px solid #fff;
}

.join-cooking {
    background: #C2B9B0;
    font-size: 20px;
    color: #5D5C61;
    margin: 25px auto 0;
    padding: 20px 50px;
    text-align: center;
    border-radius: 3px;
    display: block;
}

.join-cooking:hover {
    background: #9ecc54;
    color: #fff;
    cursor: pointer;
}

/* RESPONSIVE DESIGN */
/* For devices lesser than 1300 */
@media screen and (max-width: 1300px) {
    #main-menu li {
        margin: 0 25px;
    }

    .current {
        color: #fff;
        background-color: #AFD275;
        border-bottom: 2px solid #AFD275;
    }

    #benefit-container {
        margin: 40px 5%;
    }

    #middle-image {
        margin-left: 30px;
    }
}

/* For devices lesser than 1000px */
@media screen and (max-width: 1000px) {
    #main-menu {
        top: 55px;
        left: 30%;
    }
    #main-menu li {
        padding: 10px;
        margin: 0 5px 0 15px;
    }

    .current {
        border-bottom: 1px solid #AFD275;
    }

    #head-text h2 {
        font-size: 30px;
    }

    #benefit-container {
        margin: 40px auto;
        display: block;
    }

    #middle-image {
        margin: 20px 30%;
        clear: both;
    }
    .benefit-right {
        margin: 30px;
    }

    .benefit-image {
        float: left;
        margin: 20px 30%;
    }

    .benefit-text {
        width: 80%;
        padding: 20px;
    }

    #top-image {
        height: 280px;
        width: 260px;
    }

    .hot-topics ul li {
        width: fit-content;
        display: block;
    }
}

/* For devices lesser than 750px */
@media screen and (max-width: 750px) {
    #kids-first-logo {
        width: 150px;
        height: 50px;
        padding: 10px;
    }
    #main-menu {
        top: 55px;
        left: 0;
    }
    #main-menu li {
        font-size: 18px;
        padding: 11px 5px;
        margin: 0 2px 0 5px;
    }

    #main-menu li:hover {
        padding: 11px 5px 10px;

    }

    #head-text h2 {
        font-size: 25px;
        padding: 15px;
    }

    #online-cooking button {
        font-size: 20px;
        width: 70%;
    }

    .button-container {
        display: block;
    }
    
    .topic-button {
        margin: 20px auto;
    }

    #kids-corner {
        height: 500px;
    }

    .recipe-corner {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .ingredients ul {
        columns: 1;
        text-align: center;
    }

    .info-corner {
        float: left;
        width: 90%;
        margin-bottom: 60px;
    }
}

/* For devices small devices */
@media screen and (max-width: 430px) {
    body {
        font-size: 16px;
    }

    #main-menu li {
        font-size: 15px;
        padding: 13px 5px 12px;
        margin: 0 2px;
    }

    #main-menu li:hover {
        padding: 13px 5px 11px;

    }

    .heading {
        font-size: 40px;
        letter-spacing: 0;
        width: 50%;
    }

    #head-text {
        width: 60%;
        height:40%;
    }

    #top-image {
        height: 200px;
        width: 210px;
    }

    #middle-image {
        margin: 20px 10%;
        height: 200px;
        width: 210px;
    }

    .benefit-image {
        margin: 20px 10%;
    }

    #kids-corner {
        height: 600px;
    }

    .procedure ol {
        padding: 10px 10px 10px 20px;
    }
}
