@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto+Condensed&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Raleway, san-serif;
    font-weight: 300px;
    color: #5D5C61;
    font-size: 20px;
    
}

h1, h2 {
    font-family: "Roboto Condensed", sans-serif;
}

/* Style header */
#kids-header{
    height: 100px;
    background: radial-gradient(circle at 10% 20%, rgb(248, 213, 214) 0%, rgb(243, 242, 229) 90%);
    position: relative;
}

#kids-first-logo {
    width: 210px;
    height: 60px;
    float: left;
    padding: 40px 10px 0 25px;
}

/* Style navigation */
#main-menu {
    position: absolute;
    top: 40px;
    left: 30%;
}

#main-menu li {
    float: left;
    list-style-type: none;
    margin: 0 5px 0 100px;
    font-size: 20px;
    color: #7E685A;
    padding: 17px;
}

#main-menu li:hover {
    color: #fff;
    background-color: #C2B9B0;
    border-top: 2px solid #E7717D;
    border-bottom: none;
}

#main-menu a {
    text-decoration: none;
    color: inherit;
}

.current {
    color: #fff;
    background-color: #AFD275;
    border-bottom: 2px solid #AFD275;
}

/* Main image */
#hero-image {
    background: url("../images/kids-healthy-cooking.jpg") no-repeat center center;
    width: 100%;
    height: 600px;
    position: relative;
    clear: both;
}

.heading {
    font-size: 75px;
    font-weight: 900px;
    color: #fff;
    padding: 0 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    clear: both;
    position: absolute;
    background: rgba(255, 181, 181, 0.85);
    top: 50px;
    left: 55px;
    width: 70%;
}

#head-text {
    position: absolute;
    background: rgba(255, 181, 181, .85);
    bottom: 70px;
    left: 55px;
    height: 200px;
    width: 500px;
}

#head-text h2 {
    font-size: 40px;
    font-family: Raleway, sans-serif;
    color: #fff;
    padding: 25px;
}

/* Style benefit of cooking with kids */
#benefit-container {
    margin: 40px 10%;
}

#benefit-heading {
    margin: 30px 30px 50px;
}

#benefit-heading h2 {
    text-align: center;
    font-size: 40px;
    padding: 30px;
}

.kids-first {
    font-weight: bolder;
    letter-spacing: 2px;
}

.benefit-section {
    margin: 10px 30px;
    height: 300px;
}

.benefit-text {
    width: 40%;
    padding: 20px;
}

.benefit-left {
    float: left;
    margin-left: 10%;
    border-left: 3px solid #ffb5b5;
}

.benefit-right {
    float: right;
    margin-right: 10%;
    border-right: 3px solid #ffb5b5;
}

br {
    height: 26px;
}

.benefit-image {
    float: right;
    margin-right: 15%;
    margin-top: 15px;
}

#top-image {
    height: 240px;
    width: 210px;
}

#middle-image {
    float: left;
    height: 240px;
    width: 260px;
    margin-left: 15%;
    margin-top: 15px;
}

#under-image {
    height: 200px;
    width: 210px;
}

/* Online cooking button */
#online-cooking {
    clear: both;
    height: 100px;
    width: 100%;
    position: relative;
}
#online-cooking button {
    font-size: 25px;
    font-weight: 900;
    font-family: Raleway, sans-serif;
    background-color: #C2B9B0;
    border: 1px solid #7E685A;
    border-radius: 30px;
    color: #7E685A;
    height: 60px;
    width: 500px;
    position: absolute;
    left: 30%;
    transition: all 200ms ease-in-out;
}

#online-cooking button a {
    text-decoration: none;
    color: inherit;
}

#online-cooking button:hover {
    background: #9ecc54;;
    border: 1px solid #9ecc54;;
    color: #fff;
}

/* Footer */
footer {
    background: radial-gradient(circle at 10% 20%, rgb(248, 213, 214) 0%, rgb(218, 216, 192) 90%);
    display: flex;
}

.social-media p {
    color: #7E685A;
    font-size: 15px;
    padding: 35px 10px 0;
    width: 40%;
}

.social-media ul {
    width: 100%;
    display: flex;
}

.social-media li {
    margin: 0 auto;    
    padding: 6px;
    list-style-type: none;
}

.social-media li a {
    font-size: 40px;
    color: #9ecc54;
}

.social-media li a:hover {
    color: #7E685A;
}

/* Cooking classes */
#kids-cooking {
    position: relative;
}

.cooking-head {
    font-size: 60px;
    font-weight: 900px;
    color: #7E685A;
    padding: 20px;
    text-transform: uppercase;
    margin-left: 35px;
}

#cooking-together {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center 80%;
}

#cooking-time ul {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

#cooking-time li {
    display: inline-block;
    height: 120px;
    width: 120px;
    border: 1px solid #5D5C61;
    border-radius: 50%;
    text-align: center;
    padding: 40px;
    margin: 10px 70px;
}

.tuesday-cooking {
    background-color: #f8d5d6;
}

.thursday-cooking {
    background-color: #dad8c0;
}

.saturday-cooking {
    background-color: #C2B9B0;
}

#cooking-time ~ div {
    width: 90%;
    margin: 20px auto;
    padding: 20px 0;
    clear: both;
}

#cooking-time ~div a {
    font-weight: 900;
    text-decoration: none;
    color: inherit;
}

#kids-cooking div h3 {
    font-family: "Roboto Condensed", sans-serif;
}

/* Kids first corner*/
.cooking-head > span {
    text-transform: initial;
    font-style: italic;
}
.cooking-head ~ p {
    margin-left: 50px;
    padding: 0 15px;
}

#kids-corner {
    background: #F3F0E4;
    margin: 20px 40px;
    height: 500px;
}

.button-container {
    display: flex;
    flex-direction: row;
    padding: 0 0 20px;
    width: 70%;
    margin: 0 auto;
}

.button-container a {
    margin: 20px auto;
    width: 200px;
    height: 200px;
}

.topic-button {
    width: 200px;
    height: 200px;
    padding: 50px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 15px;
}
.topic-button:hover {
    background-color: #E7717D;
    color: #fff;
    border: 1px solid #E7717D;
    box-shadow: 9px 9px 10px #acaaaa;
    cursor: pointer;
}

.topic-button p {
    font-size: 70px;
}

/* Sign up form */
.cooking-form {
    background: url("../images/cooking-table.jpeg") no-repeat center center;
    height: 700px;
    width: 100%;
    clear: both;
    position: relative;
}

#cooking-signup {
    background-color: rgba(126, 104, 90, .7);
    width: 500px;
    height: 400px;
    margin: 30px;
    padding: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    
}

#cooking-signup h2 {
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    height: 20px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 3px;
    margin: 5px 0 20px;
    display: inline-block;
    color: #fff;
}

.form-input:hover {
    border: 3px solid #fff;
}

.join-cooking {
    background: #C2B9B0;
    font-size: 20px;
    color: #5D5C61;
    margin: 20px;
    padding: 20px 50px;
    text-align: center;
    border-radius: 3px;
}

.join-cooking:hover {
    background: #9ecc54;
    color: #fff;
    cursor: pointer;
}






/* RESPONSIVE DESIGN */
/* For devices lesser than 1200 */
@media screen and (max-width: 1300px) {
    #main-menu {
        position: absolute;
    }
    #main-menu li {
        margin: 0 25px;
        font-size: 18px;
        color: #7E685A;
        padding: 17px;
    }
    .current {
        color: #fff;
        background-color: #AFD275;
        border-bottom: 4px solid #AFD275;
    }
}

/* For devices lesser than 1000px */
@media screen and (max-width: 1000px) {
    #main-menu {
        position: absolute;
        top: 55px;
        left: 30%;
    }
    #main-menu li {
        font-size: 18px;
        color: #7E685A;
        padding: 10px;
    }
}